## Util

Esto sirve para reemplazar texto según una expresión regular en un archivo determinado

### Usar con cuidado

In [13]:
from tempfile import mkstemp
from shutil import move
from os import fdopen, remove
import pandas as pd

def replace(file_path, pattern, subst):
    #Create temp file
    fh, abs_path = mkstemp()
    with fdopen(fh,'w') as new_file:
        with open(file_path) as old_file:
            for line in old_file:
                new_file.write(re.sub(pattern, subst, line, 0, re.MULTILINE))
    #Move new file
    move(abs_path, file_path)

regex = r"^\d{4},"
nuevo = "2000\\g<0>"

replace("C:/Users/basty/Documents/intro_mineria_dcc_2019/Proyecto/ClimaYEmisionesData/DatosHito1CleanWithDates.csv", regex, nuevo)

# Import climate data
df = pd.read_csv("C:/Users/basty/Documents/intro_mineria_dcc_2019/Proyecto/ClimaYEmisionesData/DatosHito1CleanWithDates.csv")
df[:3]

,Fecha,anno,mes,dia,O3,MP10,CO,SO2,MP25,NO2,Tmedia,Tmax,Precipitaciones
0,19970402,1997,4,2,18.8750,111.565,NaN,NaN,NaN,NaN,17.6,27.5,0.0
1,19970403,1997,4,3,14.2083,141.333,NaN,NaN,NaN,NaN,16.0,27.2,0.0
2,19970404,1997,4,4,30.4545,156.950,NaN,NaN,NaN,NaN,17.6,31.1,0.0